<a href="https://colab.research.google.com/github/arfanrifqi/loan_prediction/blob/main/loan_data_prediction(preprocessing_%26_modeling)ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

#load data

In [ ]:
load_data = pd.read_csv('/content/gdrive/MyDrive/dataset/loan_data_2007_2014.csv')

load_data = load_data[['loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'open_acc','pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'total_pymnt','total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt','last_credit_pull_d',
       'collections_12_mths_ex_med','policy_code', 'application_type','acc_now_delinq',
       'tot_cur_bal','total_rev_hi_lim']].copy()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
load_data['term_months'] = load_data['term'].replace([' 36 months',' 60 months'],['36','60'])
term_num = ['term_months']

load_data[term_num] = load_data[term_num].apply(pd.to_numeric, errors='coerce', axis=1)
print(load_data['term_months'].dtypes)

int64

In [ ]:
load_data['loan_status'] = load_data['loan_status'].replace(['Does not meet the credit policy. Status:Fully Paid','Does not meet the credit policy. Status:Charged Off'],['Fully Paid','Charged Off'])
load_data['verification_status'].replace({'Source Verified':'Verified'})

0             Verified
1             Verified
2         Not Verified
3             Verified
4             Verified
              ...
466280        Verified
466281        Verified
466282        Verified
466283        Verified
466284        Verified
Name: verification_status, Length: 466285, dtype: object

In [ ]:
load_data = load_data[load_data['loan_status'].notna()]

In [ ]:
load_data = load_data.loc[(load_data['loan_status'].isin(['Fully Paid', 'Charged Off']))]

load_data['loan_status'].value_counts()

Fully Paid     186727
Charged Off     43236
Name: loan_status, dtype: int64

In [ ]:
load_data.loan_status = load_data.loan_status.map(lambda x: 1 if x == 'Fully Paid' else 0)

#replace columns

In [ ]:
load_data['issue_d'].replace({'Jun-07':'Jun-2007',
                                 'Sep-07':'Sep-2007',
                                 'Sep-08':'Sep-2008',
                                 'Jul-07':'Jul-2007',
                                 'Aug-07':'Aug-2007',
                                 'Aug-08':'Aug-2008',
                                 'Oct-07':'Oct-2007',
                                 'Nov-07':'Nov-2007',
                                 'May-08':'May-2008',
                                 'Oct-08':'Oct-2008',
                                 'Jun-08':'Jun-2008',
                                 'Jul-08':'jul-2008',
                                 'Dec-07':'Dec-2007',
                                 'Nov-08':'Nov-2008',
                                 'Dec-08':'Dec-2008',
                                 'Apr-08':'Apr-2008',
                                 'Jan-09':'Jan-2009',
                                 'Feb-09':'Feb-2009',
                                 'Jan-08':'Jan-2008',
                                 'Feb-08':'Feb-2008',
                                 'Mar-09':'Mar-2009',
                                 'Apr-09':'Apr-2009',
                                 'May-09':'Apr-2009',
                                 'Jun-08':'Jun-2009',
                                 'Jun-09':'Jun-2009',
                                 'Jul-09':'Jul-2009',
                                 'Aug-09':'Aug-2009',
                                 'Sep-09':'Sep-2009',
                                 'Oct-09':'Oct-2009',
                                 'Nov-09':'Nov-2009',
                                 'Dec-09':'Dec-2009',
                                 'Jan-10':'Jan-2010',
                                 'Feb-10':'Feb-2010',
                                 'Mar-10':'Mar-2010',
                                 'Apr-10':'Apr-2010',
                                 'May-10':'May-2010',
                                 'Jun-10':'Jun-2010',
                                 'Jul-10':'Jul-2010',
                                 'Aug-10':'Aug-2010',
                                 'Sep-10':'Sep-2010',
                                 'Oct-10':'Oct-2010',
                                 'Nov-10':'Nov-2010',
                                 'Dec-10':'Dec-2010',
                                 'Jan-11':'Jan-2011',
                                 'Feb-11':'Feb-2011',
                                 'Mar-11':'Mar-2011',
                                 'Apr-11':'Apr-2011',
                                 'May-11':'May-2011',
                                 'Jun-11':'Jun-2011',
                                 'Jul-11':'Jul-2011',
                                 'Aug-11':'Aug-2011',
                                 'Sep-11':'Sep-2011',
                                 'Oct-11':'Oct-2011',
                                 'Nov-11':'Nov-2011',
                                 'Dec-11':'Dec-2011',
                                 'Jan-12':'Jan-2012',
                                 'Feb-12':'Feb-2012',
                                 'Mar-12':'Mar-2012',
                                 'Apr-12':'Apr-2012',
                                 'May-12':'May-2012',
                                 'Jun-12':'Jun-2012',
                                 'Jul-12':'Jul-2012',
                                 'Aug-12':'Aug-2012',
                                 'Sep-12':'Sep-2012',
                                 'Oct-12':'Oct-2012',
                                 'Nov-12':'Nov-2012',
                                 'Dec-12':'Dec-2012',
                                 'Jan-13':'Jan-2013',
                                 'Feb-13':'Feb-2013',
                                 'Mar-13':'Mar-2013',
                                 'Apr-13':'Apr-2013',
                                 'May-13':'May-2013',
                                 'Jun-13':'Jun-2013',
                                 'Jul-13':'Jul-2013',
                                 'Aug-13':'Aug-2013',
                                 'Sep-13':'Sep-2013',
                                 'Oct-13':'Oct-2013',
                                 'Nov-13':'Nov-2013',
                                 'Dec-13':'Dec-2013',
                                 'Jan-14':'Jan-2014',
                                 'Feb-14':'Feb-2014',
                                 'Mar-14':'Mar-2014',
                                 'Apr-14':'Apr-2014',
                                 'May-14':'May-2014',
                                 'Jun-14':'Jun-2014',
                                 'Jul-14':'Jul-2014',
                                 'Aug-14':'Aug-2014',
                                 'Sep-14':'Sep-2014',
                                 'Oct-14':'Oct-2014',
                                 'Nov-14':'Nov-2014',
                                 'Dec-14':'Dec-2014'}, inplace=True)

In [ ]:
load_data['last_pymnt_d'].replace({
    'Dec-07':'Dec-2007',
    'Jan-08':'Jan-2008',
    'Feb-08':'Feb-2008',
    'Mar-08':'Mar-2008',
    'Apr-08':'Apr-2008',
    'May-08':'May-2008',
    'Jun-08':'Jun-2008',
    'Jul-08':'Jul-2008',
    'Aug-08':'Aug-2008',
    'Sep-08':'Aug-2008',
    'Oct-08':'Oct-2008',
    'Nov-08':'Nov-2008',
    'Dec-08':'Dec-2008',
    'Jan-09':'Jan-2009',
    'Feb-09':'Feb-2009',
    'Mar-09':'Mar-2009',
    'Apr-09':'Apr-2009',
    'May-09':'May-2009',
    'Jun-09':'Jun-2009',
    'Jul-09':'Jun-2009',
    'Aug-09':'Aug-2009',
    'Sep-09':'Sep-2009',
    'Oct-09':'Oct-2009',
    'Nov-09':'Nov-2009',
    'Dec-09':'Dec-2009',
    'Jan-10':'Jan-2010',
    'Feb-10':'Feb-2010',
    'Mar-10':'Mar-2010',
    'Apr-10':'Apr-2010',
    'May-10':'May-2010',
    'Jun-10':'Jun-2010',
    'Jul-10':'Jul-2010',
    'Aug-10':'Aug-2010',
    'Sep-10':'Sep-2010',
    'Oct-10':'Oct-2010',
    'Nov-10':'Nov-2010',
    'Dec-10':'Dec-2010',
    'Jan-11':'Jan-2011',
    'Feb-11':'Feb-2011',
    'Mar-11':'Mar-2011',
    'Apr-11':'Apr-2011',
    'May-11':'May-2011',
    'Jun-11':'Jun-2011',
    'Jul-11':'Jul-2011',
    'Aug-11':'Aug-2011',
    'Sep-11':'Sep-2011',
    'Oct-11':'Oct-2011',
    'Nov-11':'Nov-2011',
    'Dec-11':'Dec-2011',
    'Jan-12':'Jan-2012',
    'Feb-12':'Feb-2012',
    'Mar-12':'Mar-2012',
    'Apr-12':'Apr-2012',
    'May-12':'May-2012',
    'Jun-12':'Jun-2012',
    'Jul-12':'Jul-2012',
    'Aug-12':'Aug-2012',
    'Sep-12':'Sep-2012',
    'Oct-12':'Oct-2012',
    'Nov-12':'Nov-2012',
    'Dec-12':'Dec-2012',
    'Jan-13':'Jan-2013',
    'Feb-13':'Feb-2013',
    'Mar-13':'Mar-2013',
    'Apr-13':'Apr-2013',
    'May-13':'May-2013',
    'Jun-13':'Jun-2013',
    'Jul-13':'Jul-2013',
    'Aug-13':'Aug-2013',
    'Sep-13':'Sep-2013',
    'Oct-13':'Oct-2013',
    'Nov-13':'Nov-2013',
    'Dec-13':'Dec-2013',
    'Jan-14':'Jan-2014',
    'Feb-14':'Feb-2014',
    'Mar-14':'Mar-2014',
    'Apr-14':'Apr-2014',
    'May-14':'May-2014',
    'Jun-14':'Jun-2014',
    'Jul-14':'Jul-2014',
    'Aug-14':'Aug-2014',
    'Sep-14':'Sep-2014',
    'Oct-14':'Oct-2014',
    'Nov-14':'Nov-2014',
    'Dec-14':'Dec-2014',
    'Jan-15':'Jan-2015',
    'Feb-15':'Feb-2015',
    'Mar-15':'Mar-2015',
    'Apr-15':'Apr-2015',
    'May-15':'May-2015',
    'Jun-15':'Jun-2015',
    'Jul-15':'Jul-2015',
    'Aug-15':'Aug-2015',
    'Sep-15':'Sep-2015',
    'Oct-15':'Oct-2015',
    'Nov-15':'Nov-2015',
    'Dec-15':'Dec-2015',
    '0    Jan-16\ndtype: object':'Jan-2016'
}, inplace=True)

In [ ]:
load_data['last_credit_pull_d'].replace({
    'May-07':'May-2007',
    'Jun-07':'Jun-2007',
    'Jul-07':'Jul-2007',
    'Aug-07':'Aug-2007',
    'Sep-07':'Sep-2007',
    'Oct-07':'Oct-2007',
    'Nov-07':'Nov-2007',
    'Dec-07':'Dec-2007',
    'Jan-08':'Jan-2008',
    'Feb-08':'Feb-2008',
    'Mar-08':'Mar-2008',
    'Apr-08':'Apr-2008',
    'May-08':'May-2008',
    'Jun-08':'Jun-2008',
    'Jul-08':'Jul-2008',
    'Aug-08':'Aug-2008',
    'Sep-08':'Aug-2008',
    'Oct-08':'Oct-2008',
    'Nov-08':'Nov-2008',
    'Dec-08':'Dec-2008',
    'Jan-09':'Jan-2009',
    'Feb-09':'Feb-2009',
    'Mar-09':'Mar-2009',
    'Apr-09':'Apr-2009',
    'May-09':'May-2009',
    'Jun-09':'Jun-2009',
    'Jul-09':'Jun-2009',
    'Aug-09':'Aug-2009',
    'Sep-09':'Sep-2009',
    'Oct-09':'Oct-2009',
    'Nov-09':'Nov-2009',
    'Dec-09':'Dec-2009',
    'Jan-10':'Jan-2010',
    'Feb-10':'Feb-2010',
    'Mar-10':'Mar-2010',
    'Apr-10':'Apr-2010',
    'May-10':'May-2010',
    'Jun-10':'Jun-2010',
    'Jul-10':'Jul-2010',
    'Aug-10':'Aug-2010',
    'Sep-10':'Sep-2010',
    'Oct-10':'Oct-2010',
    'Nov-10':'Nov-2010',
    'Dec-10':'Dec-2010',
    'Jan-11':'Jan-2011',
    'Feb-11':'Feb-2011',
    'Mar-11':'Mar-2011',
    'Apr-11':'Apr-2011',
    'May-11':'May-2011',
    'Jun-11':'Jun-2011',
    'Jul-11':'Jul-2011',
    'Aug-11':'Aug-2011',
    'Sep-11':'Sep-2011',
    'Oct-11':'Oct-2011',
    'Nov-11':'Nov-2011',
    'Dec-11':'Dec-2011',
    'Jan-12':'Jan-2012',
    'Feb-12':'Feb-2012',
    'Mar-12':'Mar-2012',
    'Apr-12':'Apr-2012',
    'May-12':'May-2012',
    'Jun-12':'Jun-2012',
    'Jul-12':'Jul-2012',
    'Aug-12':'Aug-2012',
    'Sep-12':'Sep-2012',
    'Oct-12':'Oct-2012',
    'Nov-12':'Nov-2012',
    'Dec-12':'Dec-2012',
    'Jan-13':'Jan-2013',
    'Feb-13':'Feb-2013',
    'Mar-13':'Mar-2013',
    'Apr-13':'Apr-2013',
    'May-13':'May-2013',
    'Jun-13':'Jun-2013',
    'Jul-13':'Jul-2013',
    'Aug-13':'Aug-2013',
    'Sep-13':'Sep-2013',
    'Oct-13':'Oct-2013',
    'Nov-13':'Nov-2013',
    'Dec-13':'Dec-2013',
    'Jan-14':'Jan-2014',
    'Feb-14':'Feb-2014',
    'Mar-14':'Mar-2014',
    'Apr-14':'Apr-2014',
    'May-14':'May-2014',
    'Jun-14':'Jun-2014',
    'Jul-14':'Jul-2014',
    'Aug-14':'Aug-2014',
    'Sep-14':'Sep-2014',
    'Oct-14':'Oct-2014',
    'Nov-14':'Nov-2014',
    'Dec-14':'Dec-2014',
    'Jan-15':'Jan-2015',
    'Feb-15':'Feb-2015',
    'Mar-15':'Mar-2015',
    'Apr-15':'Apr-2015',
    'May-15':'May-2015',
    'Jun-15':'Jun-2015',
    'Jul-15':'Jul-2015',
    'Aug-15':'Aug-2015',
    'Sep-15':'Sep-2015',
    'Oct-15':'Oct-2015',
    'Nov-15':'Nov-2015',
    'Dec-15':'Dec-2015',
    '0    Jan-16\ndtype: object':'Jan-16',
    'Jan-16':'Jan-2016'
}, inplace=True)

In [ ]:
load_data['issue_month'] = pd.Series(load_data.issue_d).str.replace(r'-\d+', '')
load_data['issue_year'] = pd.Series(load_data.issue_d).str.replace(r'\w+-', '').astype(np.int)
load_data['last_pymnt_month'] = pd.Series(load_data.last_pymnt_d).str.replace(r'-\d+', '')
load_data['last_credit_pull_month'] = pd.Series(load_data.last_credit_pull_d).str.replace(r'-\d+', '')
load_data['earliest_cr_line_months'] = pd.Series(load_data.earliest_cr_line).str.replace(r'-\d+', '')
load_data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """

,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,term_months,issue_month,issue_year,last_pymnt_month,last_credit_pull_month,earliest_cr_line_months
0,5000,5000,4975.0,36 months,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,1,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,3.0,0.0,13648,83.7,9.0,f,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-2015,171.62,Jan-2016,0.0,1,INDIVIDUAL,0.0,NaN,NaN,36,Dec,2011,Jan,Jan,Jan
1,2500,2500,2500.0,60 months,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,0,n,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,3.0,0.0,1687,9.4,4.0,f,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1,INDIVIDUAL,0.0,NaN,NaN,60,Dec,2011,Apr,Sep,Apr
2,2400,2400,2400.0,36 months,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,1,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,2.0,0.0,2956,98.5,10.0,f,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-2014,649.91,Jan-2016,0.0,1,INDIVIDUAL,0.0,NaN,NaN,36,Dec,2011,Jun,Jan,Nov
3,10000,10000,10000.0,36 months,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,1,n,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,10.0,0.0,5598,21.0,37.0,f,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-2015,357.48,Jan-2015,0.0,1,INDIVIDUAL,0.0,NaN,NaN,36,Dec,2011,Jan,Jan,Feb
5,5000,5000,5000.0,36 months,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,Dec-2011,1,n,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0.0,Nov-04,3.0,9.0,0.0,7963,28.3,12.0,f,5631.377753,5631.38,5000.00,631.38,0.00,0.00,0.00,Jan-2015,161.03,Sep-2015,0.0,1,INDIVIDUAL,0.0,NaN,NaN,36,Dec,2011,Jan,Sep,Nov

#correlation with categorical

In [ ]:
from scipy.stats import chi2_contingency

In [ ]:
cat_features = ['term', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'issue_d', 'pymnt_plan', 'purpose', 'title',
       'zip_code', 'addr_state', 'earliest_cr_line', 'initial_list_status',
       'last_pymnt_d', 'last_credit_pull_d', 'application_type', 'issue_month',
       'last_pymnt_month', 'last_credit_pull_month',
       'earliest_cr_line_months','term_months']

error = 0.05

for column in cat_features:
    table = load_data[[column, 'loan_status']].pivot_table(index='loan_status',
                                                   columns=column,
                                                   aggfunc=lambda x: len(x))
    _, p_value, _, _ = chi2_contingency(table)

    print('Variable:', column)
    print('p-value: ', p_value)
    if p_value < error:
        print('Variabel ' + column + ' dan loan_status berkorelasi')
    else:
        print('Variabel ' + column + ' dan loan_status tidak berkorelasi')
    print('')

Variable: term
p-value:  0.0
Variabel term dan loan_status berkorelasi

Variable: grade
p-value:  0.0
Variabel grade dan loan_status berkorelasi

Variable: sub_grade
p-value:  0.0
Variabel sub_grade dan loan_status berkorelasi

Variable: emp_title
p-value:  nan
Variabel emp_title dan loan_status tidak berkorelasi

Variable: emp_length
p-value:  4.968713895311489e-05
Variabel emp_length dan loan_status berkorelasi

Variable: home_ownership
p-value:  nan
Variabel home_ownership dan loan_status tidak berkorelasi

Variable: issue_d
p-value:  5.117125487099212e-204
Variabel issue_d dan loan_status berkorelasi

Variable: pymnt_plan
p-value:  nan
Variabel pymnt_plan dan loan_status tidak berkorelasi

Variable: purpose
p-value:  5.275485018092448e-202
Variabel purpose dan loan_status berkorelasi

Variable: title
p-value:  nan
Variabel title dan loan_status tidak berkorelasi

Variable: zip_code
p-value:  nan
Variabel zip_code dan loan_status tidak berkorelasi

Variable: addr_state
p-value:  nan
Variabel addr_state dan loan_status tidak berkorelasi

Variable: earliest_cr_line
p-value:  nan
Variabel earliest_cr_line dan loan_status tidak berkorelasi

Variable: initial_list_status
p-value:  4.240139126547586e-06
Variabel initial_list_status dan loan_status berkorelasi

Variable: last_pymnt_d
p-value:  0.0
Variabel last_pymnt_d dan loan_status berkorelasi

Variable: last_credit_pull_d
p-value:  nan
Variabel last_credit_pull_d dan loan_status tidak berkorelasi

Variable: application_type
p-value:  1.0
Variabel application_type dan loan_status tidak berkorelasi

Variable: issue_month
p-value:  1.3095916601183884e-24
Variabel issue_month dan loan_status berkorelasi

Variable: last_pymnt_month
p-value:  2.497367012602758e-246
Variabel last_pymnt_month dan loan_status berkorelasi

Variable: last_credit_pull_month
p-value:  0.0
Variabel last_credit_pull_month dan loan_status berkorelasi

Variable: earliest_cr_line_months
p-value:  4.326326991396742e-05
Variabel earliest_cr_line_months dan loan_status berkorelasi

Variable: term_months
p-value:  0.0
Variabel term_months dan loan_status berkorelasi

In [ ]:
X = load_data.drop(['loan_status','term','emp_title','home_ownership','pymnt_plan',
                    'title','zip_code','addr_state','earliest_cr_line',
                    'last_credit_pull_d','application_type','issue_d',
                    'last_pymnt_d','last_credit_pull_d','earliest_cr_line'], axis=1)

y = load_data['loan_status']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']
categorical

['grade',
 'sub_grade',
 'emp_length',
 'verification_status',
 'purpose',
 'initial_list_status',
 'issue_month',
 'last_pymnt_month',
 'last_credit_pull_month',
 'earliest_cr_line_months']

In [ ]:
numerical = [col for col in X_train.columns if X_train[col].dtypes != 'O']

numerical

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'term_months',
 'issue_year']

#check missing values in numerical variables in X_train

In [ ]:
X_train[numerical].isnull().sum()

loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
installment                       0
annual_inc                        3
dti                               0
delinq_2yrs                      26
inq_last_6mths                   26
open_acc                         26
pub_rec                          26
revol_bal                         0
revol_util                      181
total_acc                        26
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_amnt                   0
collections_12_mths_ex_med      117
policy_code                       0
acc_now_delinq                   26
tot_cur_bal                   53283
total_rev_hi_lim              53283
term_months                       0
issue_year                        0
dtype: int64

## print percentage of missing values in the numerical variables in training set

In [ ]:
for col in numerical:
    if X_train[col].isnull().mean()>0:
        print(col, round(X_train[col].isnull().mean(),4))

annual_inc 0.0
delinq_2yrs 0.0001
inq_last_6mths 0.0001
open_acc 0.0001
pub_rec 0.0001
revol_util 0.001
total_acc 0.0001
collections_12_mths_ex_med 0.0006
acc_now_delinq 0.0001
tot_cur_bal 0.2896
total_rev_hi_lim 0.2896

## impute missing values in X_train and X_test with respective column median in X_train

In [ ]:
for df1 in [X_train, X_test]:
    for col in numerical:
        col_median=X_train[col].median()
        df1[col].fillna(col_median, inplace=True)

X_train[numerical].isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
installment                   0
annual_inc                    0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
tot_cur_bal                   0
total_rev_hi_lim              0
term_months                   0
issue_year                    0
dtype: int64

# print percentage of missing values in the categorical variables in training set

In [ ]:
X_train[categorical].isnull().mean()

grade                      0.000000
sub_grade                  0.000000
emp_length                 0.037419
verification_status        0.000000
purpose                    0.000000
initial_list_status        0.000000
issue_month                0.000000
last_pymnt_month           0.001647
last_credit_pull_month     0.000092
earliest_cr_line_months    0.000141
dtype: float64

## impute missing categorical variables with most frequent value

In [ ]:
for df2 in [X_train, X_test]:
    df2['emp_length'].fillna(X_train['emp_length'].mode()[0], inplace=True)
    df2['last_pymnt_month'].fillna(X_train['last_pymnt_month'].mode()[0], inplace=True)
    df2['last_credit_pull_month'].fillna(X_train['last_credit_pull_month'].mode()[0], inplace=True)
    df2['earliest_cr_line_months'].fillna(X_train['earliest_cr_line_months'].mode()[0], inplace=True)

# check missing values in categorical variables in X_train
X_train[categorical].isnull().sum()

grade                      0
sub_grade                  0
emp_length                 0
verification_status        0
purpose                    0
initial_list_status        0
issue_month                0
last_pymnt_month           0
last_credit_pull_month     0
earliest_cr_line_months    0
dtype: int64

# check missing values in X_train

In [ ]:
X_train.isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
installment                   0
grade                         0
sub_grade                     0
emp_length                    0
annual_inc                    0
verification_status           0
purpose                       0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
tot_cur_bal                   0
total_rev_hi_lim              0
term_months                   0
issue_month                   0
issue_year                    0
last_pymnt_month              0
last_credit_pull_month        0
earliest_cr_line_months       0
dtype: int64

# check missing values in X_train

In [ ]:
X_test.isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
installment                   0
grade                         0
sub_grade                     0
emp_length                    0
annual_inc                    0
verification_status           0
purpose                       0
dti                           0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
collections_12_mths_ex_med    0
policy_code                   0
acc_now_delinq                0
tot_cur_bal                   0
total_rev_hi_lim              0
term_months                   0
issue_month                   0
issue_year                    0
last_pymnt_month              0
last_credit_pull_month        0
earliest_cr_line_months       0
dtype: int64

In [ ]:
X_train[numerical].describe()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,term_months,issue_year
count,183970.000000,183970.000000,183970.000000,183970.000000,1.839700e+05,183970.000000,183970.000000,183970.000000,183970.000000,183970.00000,1.839700e+05,183970.000000,183970.000000,183970.000000,183970.000000,183970.000000,183970.000000,183970.000000,183970.000000,183970.000000,183970.000000,183970.000000,183970.0,183970.000000,1.839700e+05,1.839700e+05,183970.000000,183970.000000
mean,13402.670952,13355.588547,13221.998980,414.907157,7.197285e+04,16.329733,0.242279,0.907691,10.818900,0.13275,1.523601e+04,54.872536,24.776931,13550.239357,13413.814123,11294.088557,2082.234427,0.806981,173.109403,18.189953,5852.123248,0.005702,1.0,0.002723,1.207477e+05,2.715690e+04,41.109050,2009.011621
std,8046.698880,8021.086250,8059.711325,243.621091,5.617680e+04,7.669301,0.723230,1.174093,4.806821,0.41904,1.945048e+04,24.746008,11.662505,9451.903559,9466.678617,8202.884307,2110.904665,5.834223,779.193495,121.795753,6907.834678,0.082726,0.0,0.055351,1.297427e+05,2.464797e+04,9.824222,84.707166
min,500.000000,500.000000,0.000000,15.670000,3.300000e+03,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000e+00,0.000000e+00,36.000000,8.000000
25%,7200.000000,7200.000000,7000.000000,236.230000,4.500000e+04,10.620000,0.000000,0.000000,7.000000,0.00000,5.883000e+03,37.100000,16.000000,6395.890000,6257.910000,5000.000000,728.685000,0.000000,0.000000,0.000000,437.445000,0.000000,1.0,0.000000,4.048425e+04,1.650000e+04,36.000000,2012.000000
50%,12000.000000,12000.000000,11750.000000,363.630000,6.200000e+04,16.020000,0.000000,1.000000,10.000000,0.00000,1.097050e+04,56.600000,23.000000,11398.250880,11277.020000,10000.000000,1434.260000,0.000000,0.000000,0.000000,3280.530000,0.000000,1.0,0.000000,8.031400e+04,2.210000e+04,36.000000,2013.000000
75%,18000.000000,18000.000000,18000.000000,543.440000,8.600000e+04,21.760000,0.000000,1.000000,13.000000,0.00000,1.906500e+04,74.400000,32.000000,18431.284232,18267.917500,15999.417500,2644.252500,0.000000,0.000000,0.000000,9082.980000,0.000000,1.0,0.000000,1.558865e+05,2.930000e+04,36.000000,2014.000000
max,35000.000000,35000.000000,35000.000000,1407.010000,7.141778e+06,39.990000,29.000000,32.000000,76.000000,11.00000,1.746716e+06,892.300000,118.000000,57060.139910,57019.380000,35000.020000,22060.140000,358.680000,33520.270000,6972.590000,36234.440000,6.000000,1.0,4.000000,8.000078e+06,2.013133e+06,60.000000,2014.000000

# handling outlier

##find outlier for total_rec_prncp variable

In [ ]:
IQR = load_data.total_rec_prncp.quantile(0.75) - load_data.total_rec_prncp.quantile(0.25)
Lower_fence = load_data.total_rec_prncp.quantile(0.25) - (IQR * 3)
Upper_fence = load_data.total_rec_prncp.quantile(0.75) + (IQR * 3)

print('total_rec_prncp outliers are values < {lowerboundary} or > {upperboundary}'.format(lowerboundary=Lower_fence, upperboundary=Upper_fence))

total_rec_prncp outliers are values < -27999.909999999996 or > 48999.88

##find outlier for last_pymnt_amnt variable

In [ ]:
IQR = load_data.last_pymnt_amnt.quantile(0.75) - load_data.last_pymnt_amnt.quantile(0.25)
Lower_fence = load_data.last_pymnt_amnt.quantile(0.25) - (IQR * 3)
Upper_fence = load_data.last_pymnt_amnt.quantile(0.75) + (IQR * 3)

print('last_pymnt_amnt outliers are values < {lowerboundary} or > {upperboundary}'.format(lowerboundary=Lower_fence, upperboundary=Upper_fence))

last_pymnt_amnt outliers are values < -25558.03 or > 35104.46

##find outlier for total_pymnt variable

In [ ]:
IQR = load_data.total_pymnt.quantile(0.75) - load_data.total_pymnt.quantile(0.25)
Lower_fence = load_data.total_pymnt.quantile(0.25) - (IQR * 3)
Upper_fence = load_data.total_pymnt.quantile(0.75) + (IQR * 3)

print('total_pymnt outliers are values < {lowerboundary} or > {upperboundary}'.format(lowerboundary=Lower_fence, upperboundary=Upper_fence))

total_pymnt outliers are values < -29659.347929999996 or > 54507.38724

##find outlier for total_pymnt_inv variable

In [ ]:
IQR = load_data.total_pymnt_inv.quantile(0.75) - load_data.total_pymnt_inv.quantile(0.25)
Lower_fence = load_data.total_pymnt_inv.quantile(0.25) - (IQR * 3)
Upper_fence = load_data.total_pymnt_inv.quantile(0.75) + (IQR * 3)

print('total_pymnt_inv outliers are values < {lowerboundary} or > {upperboundary}'.format(lowerboundary=Lower_fence, upperboundary=Upper_fence))

total_pymnt_inv outliers are values < -29740.235000000008 or > 54292.91000000001

In [ ]:
def max_value(df3, variable, top):
    return np.where(df3[variable]>top, top, df3[variable])

for df3 in [X_train, X_test]:
    df3['total_rec_prncp'] = max_value(df3, 'total_rec_prncp', 48999.88)
    df3['last_pymnt_amnt'] = max_value(df3, 'last_pymnt_amnt', 35104.46)
    df3['total_pymnt'] = max_value(df3, 'total_pymnt', 54507.38724)
    df3['total_pymnt_inv'] = max_value(df3, 'total_pymnt_inv', 54292.91000000001)

#category encode

In [ ]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)

In [ ]:
import category_encoders as ce

encoder = ce.BinaryEncoder(cols=['verification_status'])


X_train = encoder.fit_transform(X_train)

X_test = encoder.fit_transform(X_test)

In [ ]:
X_train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,grade,sub_grade,emp_length,annual_inc,verification_status_0,verification_status_1,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,term_months,issue_month,issue_year,last_pymnt_month,last_credit_pull_month,earliest_cr_line_months
157148,10000,10000,10000.0,343.39,C,C1,5 years,65300.0,0,1,credit_card,25.26,0.0,1.0,11.0,0.0,12052,35.9,28.0,w,11816.52406,11816.52,10000.0,1816.53,0.0,0.0,0.0,5192.11,0.0,1,0.0,67354.0,33613.0,36,Mar,2013,Nov,Jan,Mar
129898,20000,20000,20000.0,573.39,F,F5,< 1 year,61000.0,1,0,debt_consolidation,26.42,0.0,0.0,21.0,0.0,17316,83.2,27.0,f,30196.26000,30196.26,20000.0,10196.26,0.0,0.0,0.0,13567.95,0.0,1,0.0,113784.0,20800.0,60,Jun,2013,Dec,Dec,Aug
41568,5000,5000,0.0,157.43,A,A4,< 1 year,50000.0,1,0,vacation,0.60,0.0,0.0,5.0,0.0,973,8.3,5.0,f,5358.48000,0.00,5000.0,358.48,0.0,0.0,0.0,3626.98,0.0,1,0.0,80314.0,22100.0,36,Jun,2009,Jun,Jun,Oct
368451,7000,7000,7000.0,229.14,B,B3,10+ years,97000.0,0,1,debt_consolidation,7.30,0.0,2.0,15.0,0.0,3768,12.0,32.0,f,7907.37000,7907.37,7000.0,907.37,0.0,0.0,0.0,4241.13,0.0,1,0.0,10114.0,31300.0,36,Jun,2014,Nov,Jan,Jul
8255,35000,23375,23325.0,531.74,C,C1,4 years,155000.0,1,0,debt_consolidation,18.84,0.0,0.0,22.0,0.0,47812,48.8,44.0,f,30460.11728,30394.99,23375.0,7085.12,0.0,0.0,0.0,555.04,0.0,1,0.0,80314.0,22100.0,60,Sep,2011,Apr,Apr,Aug

In [ ]:
X_test.head()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,grade,sub_grade,emp_length,annual_inc,verification_status_0,verification_status_1,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,term_months,issue_month,issue_year,last_pymnt_month,last_credit_pull_month,earliest_cr_line_months
186369,15000,15000,15000.0,568.91,E,E3,6 years,127000.0,0,1,debt_consolidation,17.55,2.0,0.0,9.0,0.0,15506,97.5,27.0,f,20485.54,20485.54,15000.00,5485.54,0.0,0.0,0.0,573.69,0.0,1,0.0,429491.0,15900.0,36,Nov,2012,Dec,Dec,Sep
440164,31450,31450,31450.0,1099.65,C,C5,8 years,100000.0,0,1,debt_consolidation,12.94,0.0,1.0,7.0,0.0,7676,70.4,13.0,f,36718.89,36718.89,31450.00,5268.89,0.0,0.0,0.0,21323.79,0.0,1,0.0,35862.0,10900.0,36,Feb,2014,May,Jan,Sep
118564,4800,4800,4800.0,156.33,B,B2,10+ years,40000.0,1,0,credit_card,20.49,0.0,0.0,7.0,0.0,5325,49.8,18.0,w,5313.88,5313.88,4800.00,513.88,0.0,0.0,0.0,112.60,0.0,1,0.0,6572.0,10700.0,36,Jul,2013,Dec,Dec,Feb
376159,17475,17475,17475.0,531.87,A,A1,10+ years,100000.0,1,1,debt_consolidation,23.65,0.0,2.0,13.0,0.0,17240,73.4,36.0,f,18563.33,18563.33,17475.00,1088.33,0.0,0.0,0.0,11117.15,0.0,1,0.0,238300.0,23500.0,36,Jun,2014,Sep,Sep,Aug
33737,9000,9000,8825.0,295.24,B,B1,8 years,40000.0,1,0,debt_consolidation,9.90,1.0,0.0,10.0,0.0,9305,25.5,29.0,f,10629.04,10422.37,9000.01,1629.03,0.0,0.0,0.0,298.31,0.0,1,0.0,80314.0,22100.0,36,Dec,2009,Dec,Dec,Dec

##one hot encode

In [ ]:
X_train = pd.concat([X_train[numerical], X_train[['verification_status_0', 'verification_status_1']], 
                     pd.get_dummies(X_train.grade),
                     pd.get_dummies(X_train.sub_grade),
                     pd.get_dummies(X_train.purpose),
                     pd.get_dummies(X_train.initial_list_status),
                     pd.get_dummies(X_train.issue_month),
                     pd.get_dummies(X_train.last_pymnt_month),
                     pd.get_dummies(X_train.last_credit_pull_month),
                     pd.get_dummies(X_train.emp_length)], axis=1)

In [ ]:
X_train.shape

(183970, 136)

In [ ]:
X_test = pd.concat([X_test[numerical], X_test[['verification_status_0', 'verification_status_1']], 
                     pd.get_dummies(X_test.grade),
                     pd.get_dummies(X_test.sub_grade),
                     pd.get_dummies(X_test.purpose),
                     pd.get_dummies(X_test.initial_list_status),
                     pd.get_dummies(X_test.issue_month),
                     pd.get_dummies(X_test.last_pymnt_month),
                     pd.get_dummies(X_test.last_credit_pull_month),
                     pd.get_dummies(X_test.emp_length)], axis=1)

In [ ]:
X_test.shape

(45993, 136)

In [ ]:
cols = X_train.columns

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [ ]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [ ]:
X_train.head()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,term_months,issue_year,verification_status_0,verification_status_1,A,B,C,D,E,F,G,A1,A2,A3,A4,A5,B1,B2,B3,B4,B5,C1,C2,C3,C4,C5,D1,D2,D3,D4,D5,E1,E2,E3,E4,E5,F1,F2,F3,F4,F5,G1,G2,G3,G4,G5,car,credit_card,debt_consolidation,educational,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding,f,w,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep,jul,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep,1 year,10+ years,2 years,3 years,4 years,5 years,6 years,7 years,8 years,9 years,< 1 year
0,-0.422867,-0.418347,-0.399767,-0.293560,-0.118783,1.164420,-0.334996,0.078621,0.037676,-0.316796,-0.163699,-0.766693,0.276362,-0.183424,-0.168727,-0.157761,-0.125873,-0.138319,-0.222165,-0.149348,-0.095521,-0.068926,0.0,-0.0492,-0.411536,0.261933,-0.520048,0.047084,-1.355758,0.767671,-0.452518,-0.662789,1.710369,-0.435896,-0.280523,-0.173847,-0.090423,-0.155987,-0.159981,-0.172549,-0.216624,-0.223373,-0.226055,-0.249327,-0.282748,-0.269732,-0.24407,3.987247,-0.24427,-0.229501,-0.220053,-0.212088,-0.201906,-0.193218,-0.181322,-0.172799,-0.155749,-0.134145,-0.132859,-0.120615,-0.113456,-0.10489,-0.091728,-0.081874,-0.077238,-0.068452,-0.061268,-0.052256,-0.045134,-0.036218,-0.032069,-0.031898,-0.123573,2.005213,-1.17542,-0.04303,-0.24913,-0.080756,-0.160783,-0.107559,-0.089964,-0.248058,-0.033154,-0.143797,-0.078545,-0.094167,-1.739603,1.739603,-0.296562,-0.311079,-0.292179,-0.266482,-0.282188,-0.328023,-0.293536,3.563630,-0.291587,-0.321601,-0.351154,-0.295400,-0.024901,-0.290675,-0.309352,-0.315462,-0.266108,-0.291433,-0.329262,-0.303547,-0.295867,-0.290906,3.396888,-0.32472,-0.30282,-0.204791,-0.228344,-0.308021,-0.200561,1.139318,-0.232101,-0.213121,-0.207727,-0.206098,-0.251692,-0.24786,-0.242604,-0.269372,-0.710254,-0.322875,-0.297483,-0.262873,3.574409,-0.252814,-0.244395,-0.22111,-0.196464,-0.302617
1,0.819882,0.828370,0.840975,0.650532,-0.195328,1.315673,-0.334996,-0.773102,2.118058,-0.316796,0.106938,1.144732,0.190617,1.761200,1.772859,1.061326,3.843872,-0.138319,-0.222165,-0.149348,1.117215,-0.068926,0.0,-0.0492,-0.053673,-0.257908,1.922900,0.047084,0.737595,-1.302641,-0.452518,-0.662789,-0.584669,-0.435896,-0.280523,5.752170,-0.090423,-0.155987,-0.159981,-0.172549,-0.216624,-0.223373,-0.226055,-0.249327,-0.282748,-0.269732,-0.24407,-0.250800,-0.24427,-0.229501,-0.220053,-0.212088,-0.201906,-0.193218,-0.181322,-0.172799,-0.155749,-0.134145,-0.132859,-0.120615,-0.113456,-0.10489,-0.091728,-0.081874,-0.077238,-0.068452,16.321711,-0.052256,-0.045134,-0.036218,-0.032069,-0.031898,-0.123573,-0.498700,0.85076,-0.04303,-0.24913,-0.080756,-0.160783,-0.107559,-0.089964,-0.248058,-0.033154,-0.143797,-0.078545,-0.094167,0.574844,-0.574844,-0.296562,-0.311079,-0.292179,-0.266482,-0.282188,-0.328023,3.406738,-0.280613,-0.291587,-0.321601,-0.351154,-0.295400,-0.024901,-0.290675,-0.309352,3.169950,-0.266108,-0.291433,-0.329262,-0.303547,-0.295867,-0.290906,-0.294387,-0.32472,-0.30282,-0.204791,-0.228344,3.246530,-0.200561,-0.877718,-0.232101,-0.213121,-0.207727,-0.206098,-0.251692,-0.24786,-0.242604,-0.269372,-0.710254,-0.322875,-0.297483,-0.262873,-0.279767,-0.252814,-0.244395,-0.22111,-0.196464,3.304510
2,-1.044241,-1.041706,-1.640510,-1.056878,-0.391139,-2.051005,-0.334996,-0.773102,-1.210554,-0.316796,-0.733301,-1.882027,-1.695775,-0.866702,-1.416992,-0.767304,-0.816597,-0.138319,-0.222165,-0.149348,-0.322136,-0.068926,0.0,-0.0492,-0.311646,-0.205165,-0.520048,-0.000137,0.737595,-1.302641,2.209856,-0.662789,-0.584669,-0.435896,-0.280523,-0.173847,-0.090423,-0.155987,-0.159981,-0.172549,4.616298,-0.223373,-0.226055,-0.249327,-0.282748,-0.269732,-0.24407,-0.250800,-0.24427,-0.229501,-0.220053,-0.212088,-0.201906,-0.193218,-0.181322,-0.172799,-0.155749,-0.134145,-0.132859,-0.120615,-0.113456,-0.10489,-0.091728,-0.081874,-0.077238,-0.068452,-0.061268,-0.052256,-0.045134,-0.036218,-0.032069,-0.031898,-0.123573,-0.498700,-1.17542,-0.04303,-0.24913,-0.080756,-0.160783,-0.107559,-0.089964,-0.248058,-0.033154,-0.143797,12.731613,-0.094167,0.574844,-0.574844,-0.296562,-0.311079,-0.292179,-0.266482,-0.282188,-0.328023,3.406738,-0.280613,-0.291587,-0.321601,-0.351154,-0.295400,-0.024901,-0.290675,-0.309352,-0.315462,-0.266108,-0.291433,-0.329262,3.294385,-0.295867,-0.290906,-0.294387,-0.32472,-0.30282,-0.204791,-0.228344,-0.308021,-0.200561,-0.877718,-0.232101,4.692163,-0.207727,-0.206098,-0.251692,-0.24786,-0.242604,-0.269372,-0.710254,-0.322875,-0.297483,-0.262873,-0.279767,-0.252814,-0.244395,-0.22111,-0.196464,3.304510
3,-0.795691,-0.792362,-0.771990,-0.762527,0.445508,-1.177390,-0.334996,0.930345,0.869829,-0.316796,-0.589602,-1.732508,0.619343,-0.597023,-0.581679,-0.523487,-0.556571,-0.138319,-0.222165,-0.149348,-0.233213,-0.068926,0.0,-0.0492,-0.852718,0.168092,-0.520048,0.058890,-1.355758,0.767671,-0.452518,1.508775,-0.584669,-0.435896,-0.280523,-0.173847,-0.090423,-0.155987,-0.159981,-0.172549,-0.216624,-0.223373,-0.226055,-0.249327,3.536712,-0.269732,-0.24407,-0.250800,-0.24427,-0.229501,-0.220053,-0.212088,-0.201906,-0.193218,-0.181322,-0.172799,-0.155749,-0.134145,-0.132859,-0.120615,-0.113456,-0.10489,-0.091728,-0.081874,-0.077238,-0.068452,-0.061268,-0.052256,-0.045134,-0.036218,-0.032069,-0.031898,-0.123573,-0.498700,0.85076,-0.04303,-0.24913,-0.080756,-0.160783,-0.107559,-0.089964,-0.248058,-0.033154,-0.143797,-0.078545,-0.094167,0.574844,-0.574844,-0.296562,-0.311079,-0.292179,-0.266482,-0.282188,-0.328023,3.406738,-0.280613,-0.291587,-0.321601,-0.351154,-0.295400,-0.024901,-0.290675,-0.309352,-0.315462,-0.266108,-0.291433,-0.329262,-0.303547,-0.295867,-0.290906,3.396888,-0.32472,-0.30282,-0.204791,-0.228344,-0.308021,-0.200561,1.139318,-0.232101,-0.213121,-0.207727,-0.206098,-0.251692,-0.24786,-0.242604,-0.269372,1.407947,-0.322875,-0.297483,-0.262873,-0.279767,-0.252814,-0.244395,-0.22111,-0.196464,-0.302617
4,2.684006,1.249137,1.253522,0.479569,1.477965,0.327314,-0.334996,-0.773102,2.326097,-0.316796,1.674822,-0.245395,1.648284,1.789116,1.793852,1.472768,2.370026,-0.138319,-0.222165,-0.149348,-0.766921,-0.068926,0.0,-0.0492,-0.311646,-0.205165,1.922900,0.023474,0.737595,-1.302641,-0.452518,-0.662789,1.710369,-0.435896,-0.280523,-0.173847,-0.090423,-0.155987,-0.159981,-0.172549,-0.216624,-0.223373,-0.226055,-0.249327,-0.282748,-0.269732,-0.24407,3.987247,-0.24427,-0.229501,-0.220053,-0.212088,-0.201906,-0.193218,-0.181322,-0.172799,-0.155749,-0.134145,-0.132859,-0.120615,-0.113456,-0.10489,-0.091728,-0.081874,-0.077238,-0.068452,-0.061268,-0.052256,-0.045134,-0.036218,-0.032069,-0.031898,-0.123573,-0.498700,0.85076,-0.04303,-0.24913,-0.080756,-0.160783,-0.107559,-0.089964,-0.248058,-0.033154,-0.143797,-0.078545,-0.094167,0.574844,-0.574844,-0.296562,-0.311079,-0.292179,-0.266482,-0.282188,-0.328023,-0.293536,-0.280613,-0.291587,-0.321601,-0.351154,3.385243,-0.024901,3.440264,-0.309352,-0.315462,-0.266108,-0.291433,-0.329262,-0.303547,-0.295867,-0.290906,-0.294387,-0.32472,-0.30282,4.883034,-0.228344,-0.308021,-0.200561,-0.877718,-0.232101,-0.213121,-0.207727,-0.206098,-0.251692,-0.24786,-0.242604,-0.269372,-0.710254,-0.322875,-0.297483,3.804125,-0.279767,-0.252814,-0.244395,-0.22111,-0.196464,-0.302617

In [ ]:
X_test = pd.DataFrame(X_test, columns=[cols])

In [ ]:
X_test.head()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_cur_bal,total_rev_hi_lim,term_months,issue_year,verification_status_0,verification_status_1,A,B,C,D,E,F,G,A1,A2,A3,A4,A5,B1,B2,B3,B4,B5,C1,C2,C3,C4,C5,D1,D2,D3,D4,D5,E1,E2,E3,E4,E5,F1,F2,F3,F4,F5,G1,G2,G3,G4,G5,car,credit_card,debt_consolidation,educational,home_improvement,house,major_purchase,medical,moving,other,renewable_energy,small_business,vacation,wedding,f,w,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep,jul,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep,Apr,Aug,Dec,Feb,Jan,Jul,Jun,Mar,May,Nov,Oct,Sep,1 year,10+ years,2 years,3 years,4 years,5 years,6 years,7 years,8 years,9 years,< 1 year
0,0.197478,0.204032,0.219260,0.632085,1.041991,0.153456,2.434144,-0.767007,-0.382033,-0.321248,0.018880,1.738673,0.186558,0.733101,0.746346,0.451142,1.601016,-0.139567,-0.225519,-0.153338,-0.774227,-0.071317,0.0,-0.045577,2.372209,-0.486150,-0.520559,0.032319,-1.295339,0.734832,-0.452297,-0.672501,-0.577442,-0.429181,3.542777,-0.181193,-0.087316,-0.156679,-0.158346,-0.175482,-0.214995,-0.222955,-0.226479,-0.256539,-0.282399,-0.272905,-0.247463,-0.246025,-0.239599,-0.222794,-0.222525,-0.215106,-0.201468,-0.191378,-0.174955,-0.170347,-0.15448,-0.133133,-0.136229,8.181472,-0.114288,-0.103235,-0.095769,-0.086554,-0.083043,-0.069328,-0.060367,-0.051146,-0.040684,-0.036142,-0.034285,-0.028756,-0.123231,-0.501678,0.851872,-0.042262,-0.248007,-0.081164,-0.164166,-0.108074,-0.089563,-0.244481,-0.033644,-0.142868,-0.080208,-0.092835,0.580221,-0.580221,-0.295779,-0.307617,-0.297341,-0.270182,-0.280735,-0.330779,-0.295344,-0.2757,-0.291936,3.097190,-0.348147,-0.294211,-0.024236,-0.290267,-0.306982,3.166103,-0.26552,-0.295474,-0.328996,-0.298854,-0.297167,-0.296734,-0.296777,-0.322257,-0.299975,-0.209117,-0.223974,3.249004,-0.201175,-0.879895,-0.233086,-0.209852,-0.208039,-0.201876,-0.254075,-0.247018,-0.243631,-0.267158,-0.713585,-0.31784,-0.297384,-0.264486,-0.283251,3.964675,-0.245528,-0.217035,-0.199943,-0.301307
1,2.248797,2.262363,2.268035,2.817218,0.528180,-0.447581,-0.338906,0.078213,-0.796704,-0.321248,-0.407385,0.640081,-1.017983,2.455355,2.465952,2.466547,1.499030,-0.139567,-0.225519,-0.153338,2.245576,-0.071317,0.0,-0.045577,-0.658153,-0.700093,-0.520559,0.057378,-1.295339,0.734832,-0.452297,-0.672501,1.731775,-0.429181,-0.282264,-0.181193,-0.087316,-0.156679,-0.158346,-0.175482,-0.214995,-0.222955,-0.226479,-0.256539,-0.282399,-0.272905,-0.247463,-0.246025,-0.239599,-0.222794,-0.222525,4.648881,-0.201468,-0.191378,-0.174955,-0.170347,-0.15448,-0.133133,-0.136229,-0.122227,-0.114288,-0.103235,-0.095769,-0.086554,-0.083043,-0.069328,-0.060367,-0.051146,-0.040684,-0.036142,-0.034285,-0.028756,-0.123231,-0.501678,0.851872,-0.042262,-0.248007,-0.081164,-0.164166,-0.108074,-0.089563,-0.244481,-0.033644,-0.142868,-0.080208,-0.092835,0.580221,-0.580221,-0.295779,-0.307617,-0.297341,3.701209,-0.280735,-0.330779,-0.295344,-0.2757,-0.291936,-0.322873,-0.348147,-0.294211,-0.024236,-0.290267,-0.306982,-0.315846,-0.26552,-0.295474,-0.328996,-0.298854,-0.297167,3.370025,-0.296777,-0.322257,-0.299975,-0.209117,-0.223974,-0.307787,-0.201175,1.136499,-0.233086,-0.209852,-0.208039,-0.201876,-0.254075,-0.247018,-0.243631,-0.267158,-0.713585,-0.31784,-0.297384,-0.264486,-0.283251,-0.252227,-0.245528,4.607557,-0.199943,-0.301307
2,-1.074464,-1.072259,-1.051106,-1.066567,-0.613621,0.536765,-0.338906,-0.767007,-0.796704,-0.321248,-0.535373,-0.195010,-0.587790,-0.876514,-0.860794,-0.798532,-0.739345,-0.139567,-0.225519,-0.153338,-0.841330,-0.071317,0.0,-0.045577,-0.883643,-0.708651,-0.520559,0.044848,0.771998,-1.360855,-0.452297,1.486987,-0.577442,-0.429181,-0.282264,-0.181193,-0.087316,-0.156679,-0.158346,-0.175482,-0.214995,-0.222955,-0.226479,3.898040,-0.282399,-0.272905,-0.247463,-0.246025,-0.239599,-0.222794,-0.222525,-0.215106,-0.201468,-0.191378,-0.174955,-0.170347,-0.15448,-0.133133,-0.136229,-0.122227,-0.114288,-0.103235,-0.095769,-0.086554,-0.083043,-0.069328,-0.060367,-0.051146,-0.040684,-0.036142,-0.034285,-0.028756,-0.123231,1.993312,-1.173885,-0.042262,-0.248007,-0.081164,-0.164166,-0.108074,-0.089563,-0.244481,-0.033644,-0.142868,-0.080208,-0.092835,-1.723482,1.723482,-0.295779,-0.307617,-0.297341,-0.270182,-0.280735,3.023169,-0.295344,-0.2757,-0.291936,-0.322873,-0.348147,-0.294211,-0.024236,-0.290267,-0.306982,3.166103,-0.26552,-0.295474,-0.328996,-0.298854,-0.297167,-0.296734,-0.296777,-0.322257,-0.299975,-0.209117,-0.223974,3.249004,-0.201175,-0.879895,-0.233086,-0.209852,-0.208039,-0.201876,-0.254075,-0.247018,-0.243631,-0.267158,1.401374,-0.31784,-0.297384,-0.264486,-0.283251,-0.252227,-0.245528,-0.217035,-0.199943,-0.301307
3,0.506111,0.513720,0.527510,0.479586,0.528180,0.948756,-0.338906,0.923433,0.447309,-0.321248,0.113278,0.761696,0.960906,0.529167,0.542726,0.754371,-0.468928,-0.139567,-0.225519,-0.153338,0.760184,-0.071317,0.0,-0.045577,0.900321,-0.160957,-0.520559,0.057378,0.771998,0.734832,2.210935,-0.672501,-0.577442,-0.429181,-0.282264,-0.181193,-0.087316,6.382471,-0.158346,-0.175482,-0.214995,-0.222955,-0.226479,-0.256539,-0.282399,-0.272905,-0.247463,-0.246025,-0.239599,-0.222794,-0.222525,-0.215106,-0.201468,-0.191378,-0.174955,-0.170347,-0.15448,-0.133133,-0.136229,-0.122227,-0.114288,-0.103235,-0.095769,-0.086554,-0.083043,-0.069328,-0.060367,-0.051146,-0.040684,-0.036142,-0.034285,-0.028756,-0.123231,-0.501678,0.851872,-0.042262,-0.248007,-0.081164,-0.164166,-0.108074,-0.089563,-0.244481,-0.033644,-0.142868,-0.080208,-0.092835,0.580221,-0.580221,-0.295779,-0.307617,-0.297341,-0.270182,-0.280735,-0.330779,3.385887,-0.2757,-0.291936,-0.322873,-0.348147,-0.294211,-0.024236,-0.290267,-0.306982,-0.315846,-0.26552,-0.295474,-0.328996,-0.298854,-0.297167,-0.296734,-0.296777,-0.322257,3.333614,-0.209117,-0.223974,-0.307787,-0.201175,-0.879895,-0.233086,-0.209852,-0.208039,-0.201876,-0.254075,-0.247018,4.104570,-0.267158,1.401374,-0.31784,-0.297384,-0.264486,-0.283251,-0.252227,-0.245528,-0.217035,-0.199943,-0.301307
4,-0.550723,-0.546728,-0.549809,-0.494654,-0.613621,-0.843927,1.047619,-0.767007,-0.174698,-0.321248,-0.318702,-1.180094,0.358636,-0.312610,-0.319650,-0.283959,-0.214399,-0.139567,-0.225519,-0.153338,-0.814303,-0.071317,0.0,-0.045577,-0.315938,-0.220861,-0.520559,-0.005270,0.771998,-1.360855,-0.452297,1.486987,-0.577442,-0.429181,-0.282264,-0.181193,-0.087316,-0.156679,-0.158346,-0.175482,-0.214995,-0.222955,4.415426,-0.256539,-0.282399,-0.272905,-0.247463,-0.246025,-0.239599,-0.222794,-0.222525,-0.215106,-0.201468,-0.191378,-0.174955,-0.170347,-0.15448,-0.133133,-0.136229,-0.122227,-0.114288,-0.103235,-0.095769,-0.086554,-0.083043,-0.069328,-0.060367,-0.051146,-0.040684,-0.036142,-0.034285,-0.028756,-0.123231,-0.501678,0.851872,-0.042262,-0.248007,-0.081164,-0.164166,-0.108074,-0.089563,-0.244481,-0.033644,-0.142868,-0.080208,-0.092835,0.580221,-0.580221,-0.295779,-0.307617,3.363147,-0.270182,-0.280735,-0.330779,-0.295344,-0.2757,-0.291936,-0.322873,-0.348147,-0.294211,-0.024236,-0.290267,-0.306982,3.166103,-0.26552,-0.295474,-0.328996,-0.298854,-0.297167,-0.296734,-0.296777,-0.322257,-0.299975,-0.209117,-0.223974,3.249004,-0.201175,-0.879895,-0.233086,-0.209852,-0.208039,-0.201876,-0.254075,-0.247018,-0.243631,-0.267158,-0.713585,-0.31784,-0.297384,-0.264486,-0.283251,-0.252227,-0.245528,4.607557,-0.199943,-0.301307

#unbalance sample

In [ ]:
pd.Series(y_train).value_counts()

1    149305
0     34665
Name: loan_status, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import accuracy_score, precision_score, recall_score
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE

#training model

##logistic reggression

In [ ]:
log_model = LogisticRegression().fit(X_train,y_train)
y_train_pred = log_model.predict(X_train)
print('Classification Report Training Model (Logistic Regression) :')
print(classification_report(y_train, y_train_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

Classification Report Training Model (Logistic Regression) :
              precision    recall  f1-score   support

           0       1.00      0.98      0.99     34665
           1       1.00      1.00      1.00    149305

    accuracy                           1.00    183970
   macro avg       1.00      0.99      1.00    183970
weighted avg       1.00      1.00      1.00    183970

##random forest

In [ ]:
ran_model = RandomForestClassifier().fit(X_train,y_train)
y_train_pred = ran_model.predict(X_train)
print('Classification Report Training Model (random forest classifier) :')
print(classification_report(y_train, y_train_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

Classification Report Training Model (random forest classifier) :
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     34665
           1       1.00      1.00      1.00    149305

    accuracy                           1.00    183970
   macro avg       1.00      1.00      1.00    183970
weighted avg       1.00      1.00      1.00    183970

##gradien boosting

In [ ]:
gbt_model = GradientBoostingClassifier().fit(X_train, y_train)
y_train_pred = gbt_model.predict(X_train)

#print confusion matrix
print('confusion matrix')
print(confusion_matrix(y_train, y_train_pred))

# Print classification report 
print('\nClassification Report Training Model (Gradient Boosting):')
print(classification_report(y_train, y_train_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

confusion matrix
[[ 34098    567]
 [     8 149297]]

Classification Report Training Model (Gradient Boosting):
              precision    recall  f1-score   support

           0       1.00      0.98      0.99     34665
           1       1.00      1.00      1.00    149305

    accuracy                           1.00    183970
   macro avg       1.00      0.99      0.99    183970
weighted avg       1.00      1.00      1.00    183970